/* Custom Stylesheet */


/* Schrijf hier je aanpassingen die specifiek voor MIN zijn
en die bovenop materialize komen */

.slideshow-container {
  height: 100%;
  width: 100%;
}

body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 21.5px;
    height: 100%;
}

.signature
{
    text-align: center;
    padding: 20px;
}

.zwartetekst
{
    color: #000;
}

.footer {
    background-color: dodgerblue;
    text-align: center;
    padding: 20px;
}
.footer p
{
    padding: 5px
}

.lijstfooter
{
    background-color: dodgerblue;
    color: #fff;
    text-align: start;
}

.logo
{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 15%;
}

.lijstfooter li a
{
    padding: 10px;
    color: #fff;
}

.lijstfooter li:active
{
    padding: 10px;
    color: #fff;
    background-color: dodgerblue;
}

.imgHomepage {
    padding: 20px;
    margin: auto;
    display: block;
}
  
.social
{
    display: block;
    width: 100%;
    margin: auto;
   padding-bottom: 50px;
}

.titleBanner
{
    z-index: 1;
    width: 100%;
    position: absolute;
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 0px;
    margin-top: 8%;
}

.banner
{
    margin-bottom: 0px;
    padding: 0px;
    display: block;
}

.nav
{
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
}

.navigatie {
    margin-top: 0px;
    padding-top: 0px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    flex-basis: auto;
}

ul {
    background-color: #fff;
}

li {
    padding: 10px;
}

li:active {
    background-color: #fff;
}

.nav a {
    color: #fff;
    padding: 10px;
    margin: 10px;
}

.rond
{
    border-radius: 100%;
}

nav a:active;

    {
    background-color: #fff;
}

.intro {
    text-align: justify;
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}


alogo {
    text-align: center;
    margin: auto;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  display: table;
  
}
section.ok{
  background-color: #555;
}

#eersterow
{
    display: block;
    margin-top: 10%;
}

#scrolldown
{
    margin-top: 1px;
}

@media screen and (max-width:600px)
{
    #scrolldown
    {
        visibility: hidden;
    }
}

@media screen and (min-width:600px)
{
    #scrolldown
    {
        display: block;
    }
}



.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  top:5%;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}