* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: mediumblue;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.zoom {
    transition: all .2s ease-in-out;
    z-index: 0;

}

.zoom:hover {
    transform: scale(1.3);
    z-index: 5;
    position: relative;
}

.card-content {
    box-shadow: 5px 10px #000;
    height: 540px;
     !important
}

.col .l4 {}
