body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: mediumblue;
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    color: black;
}


.zoom {
    transition: all .2s ease-in-out;
    z-index: 0;

}

.imgAssortiement {
    width: 100%;
    height: 100%;
}

.AssortFig {
    height: 30%;
}

.zoom:hover {
    transform: scale(1.3);
    z-index: 5;
    position: relative;
}

.card-content {
    box-shadow: 5px 10px #000;
    height: 700px;
}

.IconDiv {
    background-color: #ececec;
    color: black;
    padding: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.dot p {
    margin-top: 35%
}

.dot {
    margin-top: 15px;
    height: 85px;
    width: 85px;
    background-color: dodgerblue;
    border-radius: 50%;
    font-size: 30px;
    display: inline-block;
    color: white;
}


#IconsSep > .container {
    width: 100%;
    max-width: initial;

    > .row {
        margin: 0;

        > .col {
            padding: 0;
        }
    }
}

nav {
    color: white;
    background-color: dodgerblue;
}

.SlideShow1 {
    max-width: 100%;
     ! important max-height: 50% !important
}

.SlideShow2 {
    max-width: 100%;
     ! important max-height: 50% !important
}
