.container {
    font-size: 15px;
    line-height: 21.5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.zoom {
    transition: all .2s ease-in-out;
    z-index: 0;

}

.zoom:hover {
    transform: scale(1.3);
    z-index: 5;
    position: relative;
}

.card-content {
    box-shadow: 5px 10px #000;
    height: 700px;
}

.SlideShow1 {      max-width: 100%;! important max-height: 50% !important }
.SlideShow2 { 
     max-width: 100%;! important max-height: 50% !important
}
